<div class="jumbotron">
    <h1>YouthBloc T-Shirts!</h1>
    <p class="lead">
        Test site for javascript image editors to use with custom T-Shirt creation.
    </p>
    <<ul>
         <li><a href="http://fabricjs.com/demos/" class="btn btn-primary btn-lg">Fabric.js</a></li>
         <li><a href="http://pixijs.github.io/examples/" class="btn btn-primary btn-lg">Pixi.JS</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Fabric.js Base</h3>
        <canvas id="fabric"></canvas>
    </div>
    <div class="col-md-6">
        <h3>Pixi.js Base</h3>
        <canvas id="pixi"></canvas>
    </div>
    <div class="col-md-6">
        <h3>EaselJS</h3>
        <a href="http://code.tutsplus.com/tutorials/build-an-image-editor-with-easeljs-jquery-and-the-html5-file-api--active-11142">Easel Editor Tutorial</a>
    </div>
    <div class="col-md-6">
        <h3>Others</h3>
        kinetic.js, Collie, CamanJS, DarkRoomJS, Jrac, svgjs, glfx.js, webgl-filter,
    </div>
    <div class="col-md-12">
        <h3>Stuff to look at, once I have time?</h3>
        <a href="http://www.karmaloop.com/?gclid=CMD_h_2FtscCFY6EaQod5agJMA">Karma Loop</a>
    </div>
</div>

@section scripts {
    <script>
        fabric.Canvas('fabric', {

        });
    </script>
}