<div class="jumbotron">
    <h1>YouthBloc T-Shirts!</h1>
    <p class="lead">
        Test site for javascript image editors to use with custom T-Shirt creation.
    </p>
    <ul>
         <li><a href="http://fabricjs.com/demos/" class="btn btn-primary btn-lg">Fabric.js</a></li>
         <li><a href="http://pixijs.github.io/examples/" class="btn btn-primary btn-lg">Pixi.JS</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Fabric.js Base</h3>
        <div id="fabric-canvas-wrap" tabindex="1000">
            <canvas id="fabric-canvas"></canvas>
        </div>
        <div id="fabric-controls">
            <div id="fabric-edit-element-control"></div>
            <div><label for="imgLoader">Upload file to canvas</label><input type="file" id="imgLoader" /></div>
            <div><button type="button" class="btn btn-default" data-bind="click: addNewFont">Add Font</button></div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Pixi.js Base</h3>
        <canvas id="pixi"></canvas>
    </div>
    <div class="col-md-6">
        <h3>EaselJS</h3>
        <a href="http://code.tutsplus.com/tutorials/build-an-image-editor-with-easeljs-jquery-and-the-html5-file-api--active-11142">Easel Editor Tutorial</a>
    </div>
    <div class="col-md-6">
        <h3>Others</h3>
        kinetic.js, Collie, CamanJS, DarkRoomJS, Jrac, svgjs, glfx.js, webgl-filter, paper.js, Caat CSS
    </div>
    <div class="col-md-12">
        <h3>Stuff to look at, once I have time?</h3>
        <a href="http://www.karmaloop.com/?gclid=CMD_h_2FtscCFY6EaQod5agJMA">Karma Loop</a>
    </div>
</div>
@section scripts {
    <script>
var canvas;
$(function () {


    /* User Controls*/ (function () {

        })();

        /*Handle User Load Image*/ (function () {
            
        })();

        /*Handle Adding Text*/ (function () {
            var objectBeingModified;
            $('#fabric-add-text').submit(function (event) {
                event.preventDefault();
                event.stopPropagation();
                var data = {};
                $(this).serializeArray().map(function (x) { data[x.name] = x.value; });
                data.fontFamily = data.fontFamily.replace('+', ' ');
                data.fill = '#' + data.fill;
                
                var text = new fabric.Text(data.text, data);

                //text.on('selected', function() {
                //    objectBeingModified = text;
                //    ko.applyBindings
                //}.bind(this));
                
                canvas.add(text);
            });
        })();
    });
});
    </script>
}
